@model Etch.OrchardCore.Blocks.ViewModels.DisplayBlockFieldViewModel

<section class="section">
    <div class="section__content constrain">
        @foreach (var block in Model.Blocks)
        {
            if (!string.IsNullOrEmpty(block.Anchor))
            {
                <div id="@block.Anchor">
                    @await DisplayAsync(block)
                </div>
            }
            else
            {
                @await DisplayAsync(block)
            }
        }
    </div>
</section>
